/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
    background-color: #000;
    color: #fff;
}



.game-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.game-item {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 30%;
}

.game-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.game-item:hover img {
    transform: scale(1.1);
}

.game-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: #ff3333;
    text-shadow: 2px 2px 5px #000;
}

.footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #bbb;
    border-top: 2px solid #333;
}
